* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.crearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* Utility */
.debug {
    border: 5px solid black;
    background-color: #0086FE;
}

section {
    width: 1200px;
    margin: 30px auto;
}

.pink {
    width: 100%;
    height: 150px;
    background-color: #E579E5;
    margin-bottom: 30px;
}

.yellow {
    width: 100%;
    height: 500px;
    background-color: #E1D57A;
}

.lightblue {
    background-color: #ABCFE6;
   
}

#head {
    width: 100%;
    height: 100px;
    background-color: #ABCFE6;
    margin-bottom: 30px;

}

#uno {
    float: right;
    width: 300px;
    height: 600px;
    margin-top: 30px;
     
}

/* #due {
    float: left;
    width: 300px;
    height: 600px;
    margin-top: 30px;
} */

#tre {
 

    
}
